.navbar {
    background-color: black !important;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

body {
    background-color: black;
    color: white;
}

.imagen-zapa {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

@media (max-width: 576px) {

    .imagen-zapa {
        width: 100%;
        height: 180px;
        object-fit: contain;
        margin-bottom: 15px;
        margin-right: 0 !important;
    }

}
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: contain;
    padding: 15px;
}
.card {
    height: 100%;
}

.card-body {
    min-height: 180px;
}
body {
    background-color: black;
    color: white;
    background-image: url("imagenes/brick-wall-texture.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}